In [2]:
pip install nba_api

Collecting nba_api
  Using cached nba_api-1.1.14-py3-none-any.whl (254 kB)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from nba_api) (2.27.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in c:\users\dell\anaconda3\lib\site-packages (from nba_api) (1.23.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->nba_api) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->nba_api) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->nba_api) (2021.10.8)
Installing collected packages: nba-api
Successfully installed nba-api-1.1.14
Note: you may need to restart the kernel to use updated packages.

In [3]:
from nba_api.stats.endpoints import playercareerstats

In [4]:
# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999')

In [5]:
career

In [6]:
Nikola Jokić

SyntaxError: invalid syntax (896966688.py, line 1)

In [7]:
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,27.0,19,19,606.0,161,...,0.826,35,151,186,169,24,11,61,55,432

In [12]:
from nba_api.stats.endpoints import leaguegamefinder

In [19]:
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='12/02/2022',league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612764,WAS,Washington Wizards,0022200326,2022-12-02,WAS @ CHA,L,241,116,...,0.743,18,38,56,23,3,9,14,23,-1.0
1,22022,1610612744,GSW,Golden State Warriors,0022200336,2022-12-02,GSW vs. CHI,W,240,119,...,0.652,7,43,50,32,2,5,19,19,8.0
2,22022,1610612753,ORL,Orlando Magic,0022200330,2022-12-02,ORL @ CLE,L,240,96,...,0.667,11,29,40,19,6,4,17,13,-11.0
3,22022,1610612741,CHI,Chicago Bulls,0022200336,2022-12-02,CHI @ GSW,L,240,111,...,0.667,6,38,44,28,7,1,12,28,-8.0
4,22022,1610612751,BKN,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,239,114,...,0.682,7,34,41,27,7,5,18,27,9.0

In [20]:
games.colummns

AttributeError: 'DataFrame' object has no attribute 'colummns'

In [21]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [22]:
games = games[['TEAM_NAME','GAME_ID','GAME_DATE', 'MATCHUP', 'WL','PLUS_MINUS']]

In [23]:
games

                TEAM_NAME     GAME_ID   GAME_DATE      MATCHUP WL  PLUS_MINUS
0      Washington Wizards  0022200326  2022-12-02    WAS @ CHA  L        -1.0
1   Golden State Warriors  0022200336  2022-12-02  GSW vs. CHI  W         8.0
2           Orlando Magic  0022200330  2022-12-02    ORL @ CLE  L       -11.0
3           Chicago Bulls  0022200336  2022-12-02    CHI @ GSW  L        -8.0
4           Brooklyn Nets  0022200329  2022-12-02  BKN vs. TOR  W         9.0
5      Los Angeles Lakers  0022200331  2022-12-02    LAL @ MIL  W         4.0
6         Milwaukee Bucks  0022200331  2022-12-02  MIL vs. LAL  L        -4.0
7    New Orleans Pelicans  0022200333  2022-12-02    NOP @ SAS  W        18.0
8       San Antonio Spurs  0022200333  2022-12-02  SAS vs. NOP  L       -18.0
9          Boston Celtics  0022200328  2022-12-02  BOS vs. MIA  L        -4.0
10    Cleveland Cavaliers  0022200330  2022-12-02  CLE vs. ORL  W        11.0
11     Philadelphia 76ers  0022200332  2022-12-02    PHI @ MEM  L        -8.0
12        Houston Rockets  0022200334  2022-12-02    HOU @ PHX  W         1.0
13         Denver Nuggets  0022200327  2022-12-02    DEN @ ATL  L        -8.0
14      Memphis Grizzlies  0022200332  2022-12-02  MEM vs. PHI  W         8.0
15           Phoenix Suns  0022200334  2022-12-02  PHX vs. HOU  L        -1.0
16          Atlanta Hawks  0022200327  2022-12-02  ATL vs. DEN  W         8.0
17             Miami Heat  0022200328  2022-12-02    MIA @ BOS  W         4.0
18              Utah Jazz  0022200335  2022-12-02  UTA vs. IND  W        20.0
19        Toronto Raptors  0022200329  2022-12-02    TOR @ BKN  L        -9.0
20      Charlotte Hornets  0022200326  2022-12-02  CHA vs. WAS  W         1.0
21         Indiana Pacers  0022200335  2022-12-02    IND @ UTA  L       -20.0

In [24]:
import pandas as pd

In [25]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM_NAME   22 non-null     object
 1   GAME_ID     22 non-null     object
 2   GAME_DATE   22 non-null     object
 3   MATCHUP     22 non-null     object
 4   WL          22 non-null     object
 5   PLUS_MINUS  22 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.2+ KB

In [26]:
games['GAME_DATE']=pd.to_datetime(games['GAME_DATE'])

C:\Program Files\KMSpico\temp\ipykernel_16784\1230110760.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['GAME_DATE']=pd.to_datetime(games['GAME_DATE'])

In [27]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
games['GAME_DATE']=pd.to_datetime(games['GAME_DATE'])

C:\Program Files\KMSpico\temp\ipykernel_16784\1230110760.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['GAME_DATE']=pd.to_datetime(games['GAME_DATE'])

In [31]:
games['GAME_DATE']

0    2022-12-02
1    2022-12-02
2    2022-12-02
3    2022-12-02
4    2022-12-02
5    2022-12-02
6    2022-12-02
7    2022-12-02
8    2022-12-02
9    2022-12-02
10   2022-12-02
11   2022-12-02
12   2022-12-02
13   2022-12-02
14   2022-12-02
15   2022-12-02
16   2022-12-02
17   2022-12-02
18   2022-12-02
19   2022-12-02
20   2022-12-02
21   2022-12-02
Name: GAME_DATE, dtype: datetime64[ns]

In [32]:
games=games.sort_values('GAME_DATE')

In [33]:
games

                TEAM_NAME     GAME_ID  GAME_DATE      MATCHUP WL  PLUS_MINUS
0      Washington Wizards  0022200326 2022-12-02    WAS @ CHA  L        -1.0
19        Toronto Raptors  0022200329 2022-12-02    TOR @ BKN  L        -9.0
18              Utah Jazz  0022200335 2022-12-02  UTA vs. IND  W        20.0
17             Miami Heat  0022200328 2022-12-02    MIA @ BOS  W         4.0
16          Atlanta Hawks  0022200327 2022-12-02  ATL vs. DEN  W         8.0
15           Phoenix Suns  0022200334 2022-12-02  PHX vs. HOU  L        -1.0
14      Memphis Grizzlies  0022200332 2022-12-02  MEM vs. PHI  W         8.0
13         Denver Nuggets  0022200327 2022-12-02    DEN @ ATL  L        -8.0
12        Houston Rockets  0022200334 2022-12-02    HOU @ PHX  W         1.0
11     Philadelphia 76ers  0022200332 2022-12-02    PHI @ MEM  L        -8.0
10    Cleveland Cavaliers  0022200330 2022-12-02  CLE vs. ORL  W        11.0
9          Boston Celtics  0022200328 2022-12-02  BOS vs. MIA  L        -4.0
8       San Antonio Spurs  0022200333 2022-12-02  SAS vs. NOP  L       -18.0
7    New Orleans Pelicans  0022200333 2022-12-02    NOP @ SAS  W        18.0
6         Milwaukee Bucks  0022200331 2022-12-02  MIL vs. LAL  L        -4.0
5      Los Angeles Lakers  0022200331 2022-12-02    LAL @ MIL  W         4.0
4           Brooklyn Nets  0022200329 2022-12-02  BKN vs. TOR  W         9.0
3           Chicago Bulls  0022200336 2022-12-02    CHI @ GSW  L        -8.0
2           Orlando Magic  0022200330 2022-12-02    ORL @ CLE  L       -11.0
1   Golden State Warriors  0022200336 2022-12-02  GSW vs. CHI  W         8.0
20      Charlotte Hornets  0022200326 2022-12-02  CHA vs. WAS  W         1.0
21         Indiana Pacers  0022200335 2022-12-02    IND @ UTA  L       -20.0

In [34]:
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/01/2022',league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612751,BKN,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,239,114,...,0.682,7,34,41,27,7,5,18,27,9.0
1,22022,1610612749,MIL,Milwaukee Bucks,0022200331,2022-12-02,MIL vs. LAL,L,241,129,...,0.800,10,32,42,29,2,6,10,18,-4.0
2,22022,1610612748,MIA,Miami Heat,0022200328,2022-12-02,MIA @ BOS,W,264,120,...,0.722,12,38,50,19,11,3,16,24,4.0
3,22022,1610612745,HOU,Houston Rockets,0022200334,2022-12-02,HOU @ PHX,W,241,122,...,0.791,13,28,41,19,12,2,16,22,1.0
4,22022,1610612743,DEN,Denver Nuggets,0022200327,2022-12-02,DEN @ ATL,L,239,109,...,0.538,9,24,33,31,8,0,15,12,-8.0

In [35]:
games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612751,BKN,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,239,114,...,0.682,7,34,41,27,7,5,18,27,9.0
1,22022,1610612749,MIL,Milwaukee Bucks,0022200331,2022-12-02,MIL vs. LAL,L,241,129,...,0.800,10,32,42,29,2,6,10,18,-4.0
2,22022,1610612748,MIA,Miami Heat,0022200328,2022-12-02,MIA @ BOS,W,264,120,...,0.722,12,38,50,19,11,3,16,24,4.0
3,22022,1610612745,HOU,Houston Rockets,0022200334,2022-12-02,HOU @ PHX,W,241,122,...,0.791,13,28,41,19,12,2,16,22,1.0
4,22022,1610612743,DEN,Denver Nuggets,0022200327,2022-12-02,DEN @ ATL,L,239,109,...,0.538,9,24,33,31,8,0,15,12,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409,22021,1610612744,GSW,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,240,123,...,0.667,7,33,40,39,10,2,15,24,7.0
2410,22021,1610612743,DEN,Denver Nuggets,0022100543,2022-01-01,DEN @ HOU,W,240,124,...,0.815,13,33,46,33,10,6,18,23,13.0
2411,22021,1610612740,NOP,New Orleans Pelicans,0022100539,2022-01-01,NOP @ MIL,L,241,113,...,0.633,14,36,50,28,10,5,15,16,-23.0
2412,22021,1610612741,CHI,Chicago Bulls,0022100541,2022-01-01,CHI @ WAS,W,240,120,...,0.840,6,38,44,17,4,4,15,24,1.0
2413,22021,1610612746,LAC,LA Clippers,0022100542,2022-01-01,LAC @ BKN,W,240,120,...,0.710,7,33,40,23,7,6,10,19,4.0

In [36]:
games = games[['TEAM_NAME','GAME_ID','GAME_DATE', 'MATCHUP', 'WL','PLUS_MINUS']]

In [37]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
0,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0
1,Milwaukee Bucks,0022200331,2022-12-02,MIL vs. LAL,L,-4.0
2,Miami Heat,0022200328,2022-12-02,MIA @ BOS,W,4.0
3,Houston Rockets,0022200334,2022-12-02,HOU @ PHX,W,1.0
4,Denver Nuggets,0022200327,2022-12-02,DEN @ ATL,L,-8.0
...,...,...,...,...,...,...
2409,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,7.0
2410,Denver Nuggets,0022100543,2022-01-01,DEN @ HOU,W,13.0
2411,New Orleans Pelicans,0022100539,2022-01-01,NOP @ MIL,L,-23.0
2412,Chicago Bulls,0022100541,2022-01-01,CHI @ WAS,W,1.0
2413,LA Clippers,0022100542,2022-01-01,LAC @ BKN,W,4.0

In [38]:
games = games[['TEAM_NAME','GAME_ID','GAME_DATE', 'MATCHUP', 'WL','PLUS_MINUS']]

In [39]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
0,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0
1,Milwaukee Bucks,0022200331,2022-12-02,MIL vs. LAL,L,-4.0
2,Miami Heat,0022200328,2022-12-02,MIA @ BOS,W,4.0
3,Houston Rockets,0022200334,2022-12-02,HOU @ PHX,W,1.0
4,Denver Nuggets,0022200327,2022-12-02,DEN @ ATL,L,-8.0
...,...,...,...,...,...,...
2409,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,7.0
2410,Denver Nuggets,0022100543,2022-01-01,DEN @ HOU,W,13.0
2411,New Orleans Pelicans,0022100539,2022-01-01,NOP @ MIL,L,-23.0
2412,Chicago Bulls,0022100541,2022-01-01,CHI @ WAS,W,1.0
2413,LA Clippers,0022100542,2022-01-01,LAC @ BKN,W,4.0

In [40]:
games['GAME_DATE']

0       2022-12-02
1       2022-12-02
2       2022-12-02
3       2022-12-02
4       2022-12-02
           ...
2409    2022-01-01
2410    2022-01-01
2411    2022-01-01
2412    2022-01-01
2413    2022-01-01
Name: GAME_DATE, Length: 2414, dtype: object

In [41]:
games['GAME_DATE']=pd.to_datetime(games['GAME_DATE'])

In [42]:
games

                  TEAM_NAME     GAME_ID  GAME_DATE      MATCHUP WL  PLUS_MINUS
0             Brooklyn Nets  0022200329 2022-12-02  BKN vs. TOR  W         9.0
1           Milwaukee Bucks  0022200331 2022-12-02  MIL vs. LAL  L        -4.0
2                Miami Heat  0022200328 2022-12-02    MIA @ BOS  W         4.0
3           Houston Rockets  0022200334 2022-12-02    HOU @ PHX  W         1.0
4            Denver Nuggets  0022200327 2022-12-02    DEN @ ATL  L        -8.0
...                     ...         ...        ...          ... ..         ...
2409  Golden State Warriors  0022100544 2022-01-01    GSW @ UTA  W         7.0
2410         Denver Nuggets  0022100543 2022-01-01    DEN @ HOU  W        13.0
2411   New Orleans Pelicans  0022100539 2022-01-01    NOP @ MIL  L       -23.0
2412          Chicago Bulls  0022100541 2022-01-01    CHI @ WAS  W         1.0
2413            LA Clippers  0022100542 2022-01-01    LAC @ BKN  W         4.0

[2414 rows x 6 columns]

In [43]:
games['GAME_DATE']

0      2022-12-02
1      2022-12-02
2      2022-12-02
3      2022-12-02
4      2022-12-02
          ...
2409   2022-01-01
2410   2022-01-01
2411   2022-01-01
2412   2022-01-01
2413   2022-01-01
Name: GAME_DATE, Length: 2414, dtype: datetime64[ns]

In [44]:
games=games.sort_values('GAME_DATE')

In [45]:
games

                  TEAM_NAME     GAME_ID  GAME_DATE      MATCHUP WL  PLUS_MINUS
2413            LA Clippers  0022100542 2022-01-01    LAC @ BKN  W         4.0
2402     Washington Wizards  0022100541 2022-01-01  WAS vs. CHI  L        -1.0
2403        Detroit Pistons  0022100540 2022-01-01  DET vs. SAS  W         1.0
2404      San Antonio Spurs  0022100540 2022-01-01    SAS @ DET  L        -1.0
2405              Utah Jazz  0022100544 2022-01-01  UTA vs. GSW  L        -7.0
...                     ...         ...        ...          ... ..         ...
19       Washington Wizards  0022200326 2022-12-02    WAS @ CHA  L        -1.0
20        Memphis Grizzlies  0022200332 2022-12-02  MEM vs. PHI  W         8.0
21    Golden State Warriors  0022200336 2022-12-02  GSW vs. CHI  W         8.0
11        Charlotte Hornets  0022200326 2022-12-02  CHA vs. WAS  W         1.0
0             Brooklyn Nets  0022200329 2022-12-02  BKN vs. TOR  W         9.0

[2414 rows x 6 columns]

In [50]:
games['avg_30_plus_minus']=games.groupby('TEAM_NAME')['PLUS_MINUS'].transform(lambda x: x.rolling(30,closed='left').mean())

In [53]:
games[games['TEAM_NAME']=='Golden State Warriors'].head(40)

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2409,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,7.0,NaN
2379,Golden State Warriors,0022100559,2022-01-03,GSW vs. MIA,W,7.0,NaN
2345,Golden State Warriors,0022100572,2022-01-05,GSW @ DAL,L,-17.0,NaN
2335,Golden State Warriors,0022100580,2022-01-06,GSW @ NOP,L,-5.0,NaN
2278,Golden State Warriors,0022100604,2022-01-09,GSW vs. CLE,W,14.0,NaN
2252,Golden State Warriors,0022100614,2022-01-11,GSW @ MEM,L,-8.0,NaN
2231,Golden State Warriors,0022100627,2022-01-13,GSW @ MIL,L,-19.0,NaN
2221,Golden State Warriors,0022100637,2022-01-14,GSW @ CHI,W,42.0,NaN
2182,Golden State Warriors,0022100652,2022-01-16,GSW @ MIN,L,-20.0,NaN
2152,Golden State Warriors,0022100667,2022-01-18,GSW vs. DET,W,16.0,NaN
2123,Golden State Warriors,0022100683,2022-01-20,GSW vs. IND,L,-4.0,NaN
2109,Golden State Warriors,0022100694,2022-01-21,GSW vs. HOU,W,2.0,NaN
2073,Golden State Warriors,0022100708,2022-01-23,GSW vs. UTA,W,2.0,NaN
2054,Golden State Warriors,0022100720,2022-01-25,GSW vs. DAL,W,38.0,NaN
2020,Golden State Warriors,0022100734,2022-01-27,GSW vs. MIN,W,9.0,NaN
1991,Golden State Warriors,0022100750,2022-01-29,GSW vs. BKN,W,4.0,NaN
1964,Golden State Warriors,0022100764,2022-01-31,GSW @ HOU,W,14.0,NaN
1938,Golden State Warriors,0022100771,2022-02-01,GSW @ SAS,W,4.0,NaN
1912,Golden State Warriors,0022100785,2022-02-03,GSW vs. SAC,W,12.0,NaN
1860,Golden State Warriors,0022100813,2022-02-07,GSW @ OKC,W,12.0,NaN
1822,Golden State Warriors,0022100828,2022-02-09,GSW @ UTA,L,-26.0,NaN
1815,Golden State Warriors,0022100837,2022-02-10,GSW vs. NYK,L,-2.0,NaN
1786,Golden State Warriors,0022100854,2022-02-12,GSW vs. LAL,W,2.0,NaN
1748,Golden State Warriors,0022100866,2022-02-14,GSW @ LAC,L,-15.0,NaN
1716,Golden State Warriors,0022100883,2022-02-16,GSW vs. DEN,L,-1.0,NaN
1688,Golden State Warriors,0022100894,2022-02-24,GSW @ POR,W,37.0,NaN
1641,Golden State Warriors,0022100917,2022-02-27,GSW vs. DAL,L,-6.0,NaN
1612,Golden State Warriors,0022100930,2022-03-01,GSW @ MIN,L,-15.0,NaN
1582,Golden State Warriors,0022100943,2022-03-03,GSW @ DAL,L,-9.0,NaN
1548,Golden State Warriors,0022100959,2022-03-05,GSW @ LAL,L,-8.0,NaN
1514,Golden State Warriors,0022100528,2022-03-07,GSW @ DEN,L,-7.0,2.233333
1510,Golden State Warriors,0022100980,2022-03-08,GSW vs. LAC,W,15.0,1.766667
1474,Golden State Warriors,0022100994,2022-03-10,GSW @ DEN,W,11.0,2.033333
1450,Golden State Warriors,0022101008,2022-03-12,GSW vs. MIL,W,13.0,2.966667
1418,Golden State Warriors,0022101025,2022-03-14,GSW vs. WAS,W,14.0,3.566667
1373,Golden State Warriors,0022101042,2022-03-16,GSW vs. BOS,L,-22.0,3.566667
1326,Golden State Warriors,0022101070,2022-03-20,GSW vs. SAS,L,-2.0,3.100000
1294,Golden State Warriors,0022101080,2022-03-22,GSW @ ORL,L,-4.0,3.666667
1273,Golden State Warriors,0022101088,2022-03-23,GSW @ MIA,W,14.0,2.133333
1254,Golden State Warriors,0022101102,2022-03-25,GSW @ ATL,L,-11.0,3.266667

In [62]:
games['MATCHUP']

2413      LAC @ BKN
2402    WAS vs. CHI
2403    DET vs. SAS
2404      SAS @ DET
2405    UTA vs. GSW
           ...
19        WAS @ CHA
20      MEM vs. PHI
21      GSW vs. CHI
11      CHA vs. WAS
0       BKN vs. TOR
Name: MATCHUP, Length: 2414, dtype: object

In [65]:
games[games['MATCHUP'].str.contains('@')]

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2413,LA Clippers,0022100542,2022-01-01,LAC @ BKN,W,4.0,NaN
2404,San Antonio Spurs,0022100540,2022-01-01,SAS @ DET,L,-1.0,NaN
2412,Chicago Bulls,0022100541,2022-01-01,CHI @ WAS,W,1.0,NaN
2409,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,7.0,NaN
2410,Denver Nuggets,0022100543,2022-01-01,DEN @ HOU,W,13.0,NaN
...,...,...,...,...,...,...,...
12,Chicago Bulls,0022200336,2022-12-02,CHI @ GSW,L,-8.0,-1.100000
13,Orlando Magic,0022200330,2022-12-02,ORL @ CLE,L,-11.0,-4.640000
14,New Orleans Pelicans,0022200333,2022-12-02,NOP @ SAS,W,18.0,4.366667
15,Philadelphia 76ers,0022200332,2022-12-02,PHI @ MEM,L,-8.0,2.466667
19,Washington Wizards,0022200326,2022-12-02,WAS @ CHA,L,-1.0,-2.833333

In [66]:
msk=games['MATCHUP'].str.contains('@')

In [67]:
games_away=games[msk]

In [68]:
games_home=games[~msk]

In [69]:
games_away

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2413,LA Clippers,0022100542,2022-01-01,LAC @ BKN,W,4.0,NaN
2404,San Antonio Spurs,0022100540,2022-01-01,SAS @ DET,L,-1.0,NaN
2412,Chicago Bulls,0022100541,2022-01-01,CHI @ WAS,W,1.0,NaN
2409,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,7.0,NaN
2410,Denver Nuggets,0022100543,2022-01-01,DEN @ HOU,W,13.0,NaN
...,...,...,...,...,...,...,...
12,Chicago Bulls,0022200336,2022-12-02,CHI @ GSW,L,-8.0,-1.100000
13,Orlando Magic,0022200330,2022-12-02,ORL @ CLE,L,-11.0,-4.640000
14,New Orleans Pelicans,0022200333,2022-12-02,NOP @ SAS,W,18.0,4.366667
15,Philadelphia 76ers,0022200332,2022-12-02,PHI @ MEM,L,-8.0,2.466667
19,Washington Wizards,0022200326,2022-12-02,WAS @ CHA,L,-1.0,-2.833333

In [70]:
games_home.shape

(1207, 7)

In [75]:
games_merged=pd.merge(games_home,games_away,on='GAME_ID',suffixes=('_home','_away'))

In [76]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away
0,Washington Wizards,0022100541,2022-01-01,WAS vs. CHI,L,-1.0,NaN,Chicago Bulls,2022-01-01,CHI @ WAS,W,1.0,NaN
1,Detroit Pistons,0022100540,2022-01-01,DET vs. SAS,W,1.0,NaN,San Antonio Spurs,2022-01-01,SAS @ DET,L,-1.0,NaN
2,Utah Jazz,0022100544,2022-01-01,UTA vs. GSW,L,-7.0,NaN,Golden State Warriors,2022-01-01,GSW @ UTA,W,7.0,NaN
3,Brooklyn Nets,0022100542,2022-01-01,BKN vs. LAC,L,-4.0,NaN,LA Clippers,2022-01-01,LAC @ BKN,W,4.0,NaN
4,Milwaukee Bucks,0022100539,2022-01-01,MIL vs. NOP,W,23.0,NaN,New Orleans Pelicans,2022-01-01,NOP @ MIL,L,-23.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,Cleveland Cavaliers,0022200330,2022-12-02,CLE vs. ORL,W,11.0,4.160000,Orlando Magic,2022-12-02,ORL @ CLE,L,-11.0,-4.640000
1203,Memphis Grizzlies,0022200332,2022-12-02,MEM vs. PHI,W,8.0,1.300000,Philadelphia 76ers,2022-12-02,PHI @ MEM,L,-8.0,2.466667
1204,Golden State Warriors,0022200336,2022-12-02,GSW vs. CHI,W,8.0,2.700000,Chicago Bulls,2022-12-02,CHI @ GSW,L,-8.0,-1.100000
1205,Charlotte Hornets,0022200326,2022-12-02,CHA vs. WAS,W,1.0,-6.706667,Washington Wizards,2022-12-02,WAS @ CHA,L,-1.0,-2.833333
1206,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0,-0.766667,Toronto Raptors,2022-12-02,TOR @ BKN,L,-9.0,0.700000

In [77]:
games_merged['avg_30_plus_minus_diff']=games_merged['avg_30_plus_minus_home']-games_merged['avg_30_plus_minus_away']

In [120]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Washington Wizards,0022100541,2022-01-01,WAS vs. CHI,L,-1.0,NaN,Chicago Bulls,2022-01-01,CHI @ WAS,W,1.0,NaN,NaN
1,Detroit Pistons,0022100540,2022-01-01,DET vs. SAS,W,1.0,NaN,San Antonio Spurs,2022-01-01,SAS @ DET,L,-1.0,NaN,NaN
2,Utah Jazz,0022100544,2022-01-01,UTA vs. GSW,L,-7.0,NaN,Golden State Warriors,2022-01-01,GSW @ UTA,W,7.0,NaN,NaN
3,Brooklyn Nets,0022100542,2022-01-01,BKN vs. LAC,L,-4.0,NaN,LA Clippers,2022-01-01,LAC @ BKN,W,4.0,NaN,NaN
4,Milwaukee Bucks,0022100539,2022-01-01,MIL vs. NOP,W,23.0,NaN,New Orleans Pelicans,2022-01-01,NOP @ MIL,L,-23.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,Cleveland Cavaliers,0022200330,2022-12-02,CLE vs. ORL,W,11.0,4.160000,Orlando Magic,2022-12-02,ORL @ CLE,L,-11.0,-4.640000,8.800000
1203,Memphis Grizzlies,0022200332,2022-12-02,MEM vs. PHI,W,8.0,1.300000,Philadelphia 76ers,2022-12-02,PHI @ MEM,L,-8.0,2.466667,-1.166667
1204,Golden State Warriors,0022200336,2022-12-02,GSW vs. CHI,W,8.0,2.700000,Chicago Bulls,2022-12-02,CHI @ GSW,L,-8.0,-1.100000,3.800000
1205,Charlotte Hornets,0022200326,2022-12-02,CHA vs. WAS,W,1.0,-6.706667,Washington Wizards,2022-12-02,WAS @ CHA,L,-1.0,-2.833333,-3.873333
1206,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0,-0.766667,Toronto Raptors,2022-12-02,TOR @ BKN,L,-9.0,0.700000,-1.466667

In [117]:
games_home

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2402,Washington Wizards,0022100541,2022-01-01,WAS vs. CHI,L,-1.0,NaN
2403,Detroit Pistons,0022100540,2022-01-01,DET vs. SAS,W,1.0,NaN
2405,Utah Jazz,0022100544,2022-01-01,UTA vs. GSW,L,-7.0,NaN
2406,Brooklyn Nets,0022100542,2022-01-01,BKN vs. LAC,L,-4.0,NaN
2408,Milwaukee Bucks,0022100539,2022-01-01,MIL vs. NOP,W,23.0,NaN
...,...,...,...,...,...,...,...
18,Cleveland Cavaliers,0022200330,2022-12-02,CLE vs. ORL,W,11.0,4.160000
20,Memphis Grizzlies,0022200332,2022-12-02,MEM vs. PHI,W,8.0,1.300000
21,Golden State Warriors,0022200336,2022-12-02,GSW vs. CHI,W,8.0,2.700000
11,Charlotte Hornets,0022200326,2022-12-02,CHA vs. WAS,W,1.0,-6.706667
0,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0,-0.766667

In [118]:
games_away

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2413,LA Clippers,0022100542,2022-01-01,LAC @ BKN,W,4.0,NaN
2404,San Antonio Spurs,0022100540,2022-01-01,SAS @ DET,L,-1.0,NaN
2412,Chicago Bulls,0022100541,2022-01-01,CHI @ WAS,W,1.0,NaN
2409,Golden State Warriors,0022100544,2022-01-01,GSW @ UTA,W,7.0,NaN
2410,Denver Nuggets,0022100543,2022-01-01,DEN @ HOU,W,13.0,NaN
...,...,...,...,...,...,...,...
12,Chicago Bulls,0022200336,2022-12-02,CHI @ GSW,L,-8.0,-1.100000
13,Orlando Magic,0022200330,2022-12-02,ORL @ CLE,L,-11.0,-4.640000
14,New Orleans Pelicans,0022200333,2022-12-02,NOP @ SAS,W,18.0,4.366667
15,Philadelphia 76ers,0022200332,2022-12-02,PHI @ MEM,L,-8.0,2.466667
19,Washington Wizards,0022200326,2022-12-02,WAS @ CHA,L,-1.0,-2.833333

In [110]:
games_merged=pd.merge(games_home,games_away,on='GAME_ID',suffixes=('_home','_away'))

In [121]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Washington Wizards,0022100541,2022-01-01,WAS vs. CHI,L,-1.0,NaN,Chicago Bulls,2022-01-01,CHI @ WAS,W,1.0,NaN,NaN
1,Detroit Pistons,0022100540,2022-01-01,DET vs. SAS,W,1.0,NaN,San Antonio Spurs,2022-01-01,SAS @ DET,L,-1.0,NaN,NaN
2,Utah Jazz,0022100544,2022-01-01,UTA vs. GSW,L,-7.0,NaN,Golden State Warriors,2022-01-01,GSW @ UTA,W,7.0,NaN,NaN
3,Brooklyn Nets,0022100542,2022-01-01,BKN vs. LAC,L,-4.0,NaN,LA Clippers,2022-01-01,LAC @ BKN,W,4.0,NaN,NaN
4,Milwaukee Bucks,0022100539,2022-01-01,MIL vs. NOP,W,23.0,NaN,New Orleans Pelicans,2022-01-01,NOP @ MIL,L,-23.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,Cleveland Cavaliers,0022200330,2022-12-02,CLE vs. ORL,W,11.0,4.160000,Orlando Magic,2022-12-02,ORL @ CLE,L,-11.0,-4.640000,8.800000
1203,Memphis Grizzlies,0022200332,2022-12-02,MEM vs. PHI,W,8.0,1.300000,Philadelphia 76ers,2022-12-02,PHI @ MEM,L,-8.0,2.466667,-1.166667
1204,Golden State Warriors,0022200336,2022-12-02,GSW vs. CHI,W,8.0,2.700000,Chicago Bulls,2022-12-02,CHI @ GSW,L,-8.0,-1.100000,3.800000
1205,Charlotte Hornets,0022200326,2022-12-02,CHA vs. WAS,W,1.0,-6.706667,Washington Wizards,2022-12-02,WAS @ CHA,L,-1.0,-2.833333,-3.873333
1206,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0,-0.766667,Toronto Raptors,2022-12-02,TOR @ BKN,L,-9.0,0.700000,-1.466667

In [111]:
games_merged['avg_30_plus_minus_diff']=games_merged['avg_30_plus_minus_home']-games_merged['avg_30_plus_minus_away']

In [122]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Washington Wizards,0022100541,2022-01-01,WAS vs. CHI,L,-1.0,NaN,Chicago Bulls,2022-01-01,CHI @ WAS,W,1.0,NaN,NaN
1,Detroit Pistons,0022100540,2022-01-01,DET vs. SAS,W,1.0,NaN,San Antonio Spurs,2022-01-01,SAS @ DET,L,-1.0,NaN,NaN
2,Utah Jazz,0022100544,2022-01-01,UTA vs. GSW,L,-7.0,NaN,Golden State Warriors,2022-01-01,GSW @ UTA,W,7.0,NaN,NaN
3,Brooklyn Nets,0022100542,2022-01-01,BKN vs. LAC,L,-4.0,NaN,LA Clippers,2022-01-01,LAC @ BKN,W,4.0,NaN,NaN
4,Milwaukee Bucks,0022100539,2022-01-01,MIL vs. NOP,W,23.0,NaN,New Orleans Pelicans,2022-01-01,NOP @ MIL,L,-23.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,Cleveland Cavaliers,0022200330,2022-12-02,CLE vs. ORL,W,11.0,4.160000,Orlando Magic,2022-12-02,ORL @ CLE,L,-11.0,-4.640000,8.800000
1203,Memphis Grizzlies,0022200332,2022-12-02,MEM vs. PHI,W,8.0,1.300000,Philadelphia 76ers,2022-12-02,PHI @ MEM,L,-8.0,2.466667,-1.166667
1204,Golden State Warriors,0022200336,2022-12-02,GSW vs. CHI,W,8.0,2.700000,Chicago Bulls,2022-12-02,CHI @ GSW,L,-8.0,-1.100000,3.800000
1205,Charlotte Hornets,0022200326,2022-12-02,CHA vs. WAS,W,1.0,-6.706667,Washington Wizards,2022-12-02,WAS @ CHA,L,-1.0,-2.833333,-3.873333
1206,Brooklyn Nets,0022200329,2022-12-02,BKN vs. TOR,W,9.0,-0.766667,Toronto Raptors,2022-12-02,TOR @ BKN,L,-9.0,0.700000,-1.466667

In [112]:
games_model=games_merged[['WL_home','avg_30_plus_minus_diff']].dropna()

In [113]:
games_model['WL_home']=games_model['WL_home'].map({'W':1,'L':0})

In [116]:
games_model

      WL_home  avg_30_plus_minus_diff
445         1                3.933333
455         1                3.200000
458         0               -7.633333
459         0              -10.800000
463         0              -13.033333
...       ...                     ...
1202        1                8.800000
1203        1               -1.166667
1204        1                3.800000
1205        1               -3.873333
1206        1               -1.466667

[738 rows x 2 columns]

In [124]:
from sklearn.model_selection import train_test_split

C:\Users\DELL\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [129]:
df_train,df_test=train_test_split(games_model,stratify=games_model['WL_home'],test_size=0.2,random_state=7)

In [130]:
df_train.shape

(590, 2)

In [132]:
df_test.shape

(148, 2)

In [133]:
target='WL_home'
X_train=df_train.drop(columns=target) #avg_plus_minus_diff
Y_train=df_train[target] #WL_home

X_test=df_test.drop(columns=target) #avg_plus_minus_diff
Y_test=df_test[target] #WL_home

In [136]:

%pip install xgboost

Collecting xgboost
  Using cached xgboost-1.7.1-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.22.4)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.1
Note: you may need to restart the kernel to use updated packages.

In [137]:
import xgboost as xgb

In [139]:
#classifier
clf=xgb.XGBClassifier(random_state=7)

In [140]:
#fit the model to our training data set
clf.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=7, ...)

In [141]:
#evaluation

from sklearn.metrics import accuracy_score
Y_pred=clf.predict(X_test)

In [142]:
accuracy_score(Y_test,Y_pred)
#57% of the the predicted results were accurate

0.5743243243243243

In [152]:
#hyperparameters to improve the performance by tuning = random search 
from sklearn.model_selection import RandomizedSearchCV
from sklearn.utils.fixes import loguniform

In [157]:
hyp_params={'learning_rate':loguniform(0.0001,1),
            'max_depth':[2,3,4,5,6,7,8,9],
           'subsample':[0.7,0.8,0.9,1.0],
           'n_estimators':[50,100,150,200]}

In [159]:
random_hyp=RandomizedSearchCV(estimator=clf,
                            param_distributions=hyp_params,
                            n_iter=20,
                            cv=8,
                            scoring='accuracy',
                            random_state=7)

In [161]:
random_hyp.fit(X_train,Y_train)

RandomizedSearchCV(cv=8,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           callbacks=None, colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, feature_types=None,
                                           gamma=0, gpu_id=-1,
                                           grow_policy='depthwise',
                                           importance_type=None,
                                           interaction_constraints='',
                                           learning_rate=0.300...
                                           monotone_constraints='()',
                                           n_estimators=100, n_jobs=0,
                                           num_parallel_tree=1,
                                           predictor='auto', random_state=7, ...),
                   n_iter=20,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001B1C747F910>,
                                        'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
                                        'n_estimators': [50, 100, 150, 200],
                                        'subsample': [0.7, 0.8, 0.9, 1.0]},
                   random_state=7, scoring='accuracy')

In [163]:
random_hyp.best_params_

{'learning_rate': 0.0047587056428284825,
 'max_depth': 2,
 'n_estimators': 200,
 'subsample': 0.9}

In [164]:
model_hyp=random_hyp.best_estimator_

In [165]:
Y_pred_hyp=model_hyp.predict(X_test)

In [166]:
accuracy_score(Y_test,Y_pred_hyp)

0.6283783783783784

In [167]:
from joblib import dump,load

In [168]:
dump(model_hyp,'model_nba_joblib')

['model_nba_joblib']

In [169]:
model_saved=load('model_nba_joblib')

In [172]:
accuracy_score(Y_test,model_saved.predict(X_test))

0.6283783783783784

In [173]:
#home team away team -> game results

In [174]:
team_home ='Torronto Raptors'
team_away='Boston Celtics'

In [177]:
# copied all from above
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/31/2020', league_id_nullable='00')
games = gamefinder.get_data_frames()[0]

games = games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]

import pandas as pd

games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

games = games.sort_values('GAME_DATE')

games['avg_30_plus_minus'] = games.groupby('TEAM_NAME')['PLUS_MINUS'].transform(lambda x: x.rolling(30, closed='left').mean())

msk = games['MATCHUP'].str.contains('@')
games_away = games[msk]
games_home = games[~msk]

games_merged = pd.merge(games_home, games_away, on='GAME_ID', suffixes=('_home', '_away'))

games_merged['avg_30_plus_minus_diff'] = games_merged['avg_30_plus_minus_home'] - games_merged['avg_30_plus_minus_away']

In [178]:
team_home='Toronto Raptors'
team_away='Boston Celtics'

import numpy as np
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/01/2021',
                                           league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games = games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

msk_home = (games['TEAM_NAME'] == team_home)
games_30_home = games[msk_home].sort_values('GAME_DATE').tail(30)
home_plus_minus = games_30_home['PLUS_MINUS'].mean()

msk_away = (games['TEAM_NAME'] == team_away)
games_30_away = games[msk_away].sort_values('GAME_DATE').tail(30)
away_plus_minus = games_30_away['PLUS_MINUS'].mean()

games_diff=home_plus_minus - away_plus_minus

predict_home_win=model_saved.predict(np.array([games_diff]))[0]
predict_winning_probability=model_saved.predict_proba(np.array([games_diff]))[0][1]

In [179]:
def predict_games(team_home, team_away):
    gamefinder = leaguegamefinder.LeagueGameFinder(
        date_from_nullable='01/01/2021',
        league_id_nullable='00')
    games = gamefinder.get_data_frames()[0]
    games = games[
        ['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]
    games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

    msk_home = (games['TEAM_NAME'] == team_home)
    games_30_home = games[msk_home].sort_values('GAME_DATE').tail(30)
    home_plus_minus = games_30_home['PLUS_MINUS'].mean()

    msk_away = (games['TEAM_NAME'] == team_away)
    games_30_away = games[msk_away].sort_values('GAME_DATE').tail(30)
    away_plus_minus = games_30_away['PLUS_MINUS'].mean()

    games_diff = home_plus_minus - away_plus_minus

    predict_home_win = model_saved.predict(np.array([games_diff]))[0]
    predict_winning_probability = model_saved.predict_proba(np.array([games_diff]))[0][1]
    return predict_home_win, predict_winning_probability

In [180]:
predict_games('Boston Celtics','Toronto Raptors')

(1, 0.6052022)

In [182]:
predict_games('LA Clippers','Sacramento Kings')

(0, 0.48434246)

In [191]:
predict_games('Charlotte Hornets','Milwaukee Bucks')

(0, 0.46794382)

In [192]:
games['TEAM_NAME'].tail(50)

5764     Golden State Warriors
5765      New Orleans Pelicans
5766         Memphis Grizzlies
5767          Dallas Mavericks
5768        Washington Wizards
5769            Boston Celtics
5770         San Antonio Spurs
5771           Detroit Pistons
5772        Los Angeles Lakers
5773    Portland Trail Blazers
5774              Phoenix Suns
5775            Denver Nuggets
5776    Minnesota Timberwolves
5777                 Utah Jazz
5778             Brooklyn Nets
5779               LA Clippers
5780     Golden State Warriors
5781             Chicago Bulls
5782            Indiana Pacers
5783             Orlando Magic
5784          Sacramento Kings
5785           New York Knicks
5786           Houston Rockets
5787         Charlotte Hornets
5788        Philadelphia 76ers
5789       Cleveland Cavaliers
5790           Toronto Raptors
5791             Atlanta Hawks
5792      New Orleans Pelicans
5793     Oklahoma City Thunder
5794    Portland Trail Blazers
5795                Miami Heat
5796             Brooklyn Nets
5797    Minnesota Timberwolves
5798             Atlanta Hawks
5799         Charlotte Hornets
5800            Boston Celtics
5801                 Utah Jazz
5802         Memphis Grizzlies
5803           Detroit Pistons
5804              Phoenix Suns
5805         San Antonio Spurs
5806               LA Clippers
5807          Dallas Mavericks
5808        Washington Wizards
5809     Golden State Warriors
5810            Denver Nuggets
5811        Los Angeles Lakers
5812           Milwaukee Bucks
5813             Chicago Bulls
Name: TEAM_NAME, dtype: object